.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: #fff;
  }

  .splash-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    padding-left: 20%;
    padding-right: 20%;
  }

  .acc-logo {
    max-width: 100%;
    max-height: 100%;
    width: 175px;
    height: 55px;
    margin-top: 5px;
    cursor:pointer;
  }

  .git-img {
    max-width: 100%;
    max-height: 100%;
    width: 55px;
    height: 55px;
    opacity: 0.8;
  }

  .git-img:hover {
   opacity: 1;
  }

  .link-img {
    max-width: 100%;
    max-height: 100%;
    width: 42px;
    height: 42px;
    margin-bottom: 7px;
    opacity: 0.8;
  }

  .link-img:hover {
    opacity: 1;
  }

  .splash-links {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .splash-links::after {
    content: '';
    position: absolute;
    top: 18%;
    bottom: 30%;
    left: 36%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #bdb5b5;
  }

  .arvid-links {
    margin-right: 50px;
  }

  .user-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .nav-sign-but {
    padding: 8px 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 10px;
    background-color: transparent; /* Set initial background color to transparent */
  }
  
  .nav-sign-but:hover {
    background-color: #e8e2e2; /* Apply a different background color on hover */
  }
  
  .nav-signup {
    text-decoration: none;
    font-size: 16px;
    color: #615f5f;
    font-weight: bold;
  }

  .nav-login-but {
    padding: 8px 18px;
    font-weight: bold;
    border: 2px solid #0a66c2; /* Add a blue border */
    border-radius: 30px;
    cursor: pointer;
    background-color: transparent;
  }

  .nav-login {
    text-decoration: none;
    font-size: 16px;
    color: #0a66c2;
  }

  .nav-login-but:hover {
    background-color: #d6e1ff;
  }
  
  .login-form-container {
    /* display: flex;
    width: 90%;
    max-width: 1000px; */
    position: relative;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    align-items: center;
    padding-top: 40px;
    flex-wrap: nowrap;
    min-height: 560px;
  }
  
  .form-content {
    flex: 1;
    padding: 60px;
  }
  
  .login-header {
    font-size: 56px;
    font-weight: 200;
    margin-bottom: 30px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    color: #8f5849;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .error-list {
    margin-bottom: 5px;
    color: red;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .input-container {
    margin-bottom: 30px;
  }
  
  .input-label {
    font-size: 20px;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.75);
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif 
  }
  
  .input-field {
    width: 100%;
    padding: 14px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .login-button {
    padding: 14px 28px;
    font-size: 20px;
    font-weight: bold;
    background-color: #0a66c2;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 30px;
  }

  .login-button:hover {
    color: #dddbdb;
    background-color: #054686;
  }
  
  .signup-link {
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #6d6c6c;
  }

  .signup-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ffffff;
    color: #6d6c6c;
    border: solid ;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    margin-left: 35px;
  }
  
  .signup-button:hover {
    background-color: #d7d6d6;
    color: rgb(25, 25, 25);
    font-weight: bold;
  }

  .demo-button {
    padding: 14px 28px;
    font-size: 20px;
    font-weight: bold;
    background-color: #1678da;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 30px;
  }

  .demo-button:hover {
    color: #dddbdb;
    background-color: #054686;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #fff;
  }
  
  .image {
    max-width: 100%;
    max-height: 100%;
    width: 700px;
    height: 560px;
  }

  .the-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  

  